body{
    background-color: black;
}

.off {
    background-color: lightgrey;
}

.binary-unit {
    width: 100%;
    position: relative;
}

.binary-unit:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}